@charset "utf-8";
/* CSS Document */

body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
}

body {
	font-family: 'Bree Serif', serif;
	color:#fff;
	background: #566074;
}

#drop {
	width: 730px;
	margin: 150px auto;
}

p {
	font-size:50px;
	line-height:80px;
	text-transform:uppercase;
	text-shadow:10px 10px 0 rgba(255,255,255,0.07);
}

p:first-child:first-letter {
	font-size:160px;
	float:left;
	margin:20px 20px 0 0;
	line-height:0.8;
	text-shadow:4px 4px 0 #566074, 7px 7px 0 #fff;
}