@charset "utf-8";
/* CSS Document */

body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
    border: 0 none;
    margin: 0;
    padding: 0;
}

body {
	color:#333333;
	font: 16px "Helvetica", sans-serif;
}

#container {
	border: 0 none;
	margin: 0;
	padding: 0;
}

header {
	background: -moz-linear-gradient(center top , #FFFFFF 0%, #D6D6D6 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	box-shadow:0 5px 10px rgba(0, 0, 0, 0.3);
	height:130px;
	position:fixed;
	width:100%;
	z-index:100;
}
#header-content {
	margin: 0 auto;
	overflow:hidden;
	padding:35px 0 0;
	width:1000px;
	z-index:100;
}
#header-content h1 {
	float:left;
	font-size:50px;
	letter-spacing:10px;
	text-transform:uppercase;
}
a {
	color:#51749f;
	text-decoration:none;
}
#header-content nav {
	float:right;
}
#header-content nav li {
	float:left;
	font-size:20px;
	list-style:none outside none;
	margin:0 0 0 50px;
}

#banner {
	background:url(banner.jpg) repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
	height: 500px;
	position:fixed;
	top:100px;
	width:100%;
}

#banner h2 {
	color: #FFFFFF;
    font-size: 50px;
    letter-spacing: 5px;
    line-height: 60px;
    margin: 130px auto;
    text-align: center;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    width: 800px;
}

#content {
	background: none repeat scroll 0 0 #FFFFFF;
    position: relative;
    top: 500px;
    width: 100%;
    z-index: 5;
}

article {
	margin: 0 auto;
    padding: 50px 0 0;
    width: 1000px;
}